@font-face {
    font-family: 'zhanghaishan';
    src: url('../font/zhanghaishan/zhanghaishan.eot');
    /* IE9 Compat Modes */
    src: url('../font/zhanghaishan/zhanghaishan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/zhanghaishan/zhanghaishan.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/zhanghaishan/zhanghaishan.woff') format('font-woff'), /* Pretty Modern Browsers */
    /* url('../font/zhanghaishan/zhanghaishan.ttf') format('truetype'), Safari, Android, iOS */
    /* url('../font/zhanghaishan/zhanghaishan.svg#svgFontName') format('svg'); */
    /* Legacy iOS */
}

@font-face {
    font-family: 'zhanghaishangcaonima';
    src: url('../font/zhanghaishancaonima/zhanghaishancaonima.eot');
    /* IE9 Compat Modes */
    src: url('../font/zhanghaishancaonima/zhanghaishancaonima.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/zhanghaishancaonima/zhanghaishancaonima.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/zhanghaishancaonima/zhanghaishancaonima.woff') format('font-woff'), /* Pretty Modern Browsers */
    /* url('../font/zhanghaishancaonima/zhanghaishancaonima.ttf') format('truetype'), Safari, Android, iOS */
    /* url('../font/zhanghaishancaonima/zhanghaishancaonima.svg#svgFontName') format('svg'); */
    /* Legacy iOS */
}