@charset "UTF-8";
$color-theme : #f37836;
.W1520{
  width: 1520px;
}
.W1080{
  width: 1080px;
}
.W1047{
  width: 1047px;
}
.W1020{
  width: 1020px;
}
.W980{
  width: 980px;
}
.W968{
  width: 968px;
}
.W730{
  width: 730px;
}
.W577{
  width: 577px;
}
.W500{
  width: 500px;
}
.W495{
  width: 495px;
}
.W494{
  width: 494px;
}
.W480{
  width: 480px;
}
.W450{
  width: 450px;
}
.W440{
  width: 440px;
}
.W414{
  width: 414px;
}
.W383{
  width: 383px;
}

.H960 {
  height: 960px;
}
.H800 {
  height: 800px;
}
.H600 {
  height: 600px;
}
.H650 {
  height: 650px;
}
.H450 {
  height: 450px;
}
.H300 {
  height: 300px;
}
.H700 {
  height: 700px;
}