@charset "UTF-8";
$color-theme : #f37836;
.W1520{
  width: 1520px;
}
.W730{
  width: 730px;
}
.W1020{
  width: 1020px;
}
.W440{
  width: 440px;
}
.W494{
  width: 494px;
}
.W414{
  width: 414px;
}
.W1047{
  width: 1047px;
}
.H600 {
  height: 600px;
}
.H800 {
  height: 800px;
}
.H960 {
  height: 960px;
}
.H450 {
  height: 450px;
}
.H300 {
  height: 300px;
}
.H700 {
  height: 700px;
}